{
  "parserOptions": {
    "ecmaVersion": 6,
    "sourceType": "module"
  },
  "env": {
    "node": true
  },
  "rules": {
    "no-const-assign": "error",
    "newline-before-return": "error",
    "no-unreachable": "error",
    "no-extra-semi": "error",
    "no-unexpected-multiline": "error"
  }
}
